body{

    font-family:Slugs Racer;

    background:#f4f4f4;

    margin:0;

    text-align:center;

}

header{

    background:#000000;

    color:white;

    padding:90px 30px;

}

main{

    margin-top:40px;

}

button{

    padding:12px 25px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:8px;

    cursor:pointer;

}
